.product-list-popup-modal {
    box-sizing: border-box;
    opacity: 0;
    position: fixed;
    visibility: hidden;
    z-index: -1;
    margin: 0 auto;
    top: 0;
    left: 0;
    overflow: auto;
    width: 100%;
    background: rgba(var(--color-foreground), 0.2);
    height: 100%;
}

.product-list-popup-modal__grid {
    position: relative;
}

.product-list-popup-modal[open] {
    opacity: 1;
    visibility: visible;
    z-index: 101;
}

.product-list-popup-modal__content {
    border-radius: var(--popup-corner-radius);
    background-color: rgb(var(--color-background));
    overflow: auto;
    height: max-content;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 5rem;
    width: 92%;
    position: absolute;
    top: 0;
    padding: 0 1.5rem 0 1rem;
    border-color: rgba(var(--color-foreground), var(--popup-border-opacity));
    border-style: solid;
    border-width: var(--popup-border-width);
    box-shadow: var(--popup-shadow-horizontal-offset) var(--popup-shadow-vertical-offset) var(--popup-shadow-blur-radius)
    rgba(var(--color-shadow), var(--popup-shadow-opacity));
}

@media (max-width: 1100px) {
    .product-list-popup-modal__content {
        height: 80%;
    }
}

.product-list-popup-modal__content.focused {
    box-shadow: 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0.5rem 0.4rem rgba(var(--color-foreground), 0.3),
    var(--popup-shadow-horizontal-offset) var(--popup-shadow-vertical-offset) var(--popup-shadow-blur-radius)
    rgba(var(--color-shadow), var(--popup-shadow-opacity));
}

.product-list-popup-modal__content:focus-visible {
    box-shadow: 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0.5rem 0.4rem rgba(var(--color-foreground), 0.3),
    var(--popup-shadow-horizontal-offset) var(--popup-shadow-vertical-offset) var(--popup-shadow-blur-radius)
    rgba(var(--color-shadow), var(--popup-shadow-opacity));
}

@media screen and (min-width: 750px) {
    .product-list-popup-modal__content {
        padding-right: 1.5rem;
        margin-top: 10rem;
        width: 70%;
        padding: 0 1rem;
    }

    .product-media-modal__dialog .global-media-settings--no-shadow {
        overflow: visible !important;
    }
}

.product-list-popup-modal__content img {
    max-width: 100%;
}

@media screen and (max-width: 749px) {
    .product-list-popup-modal__content table {
        display: block;
        max-width: fit-content;
        overflow-x: auto;
        white-space: nowrap;
        margin: 0;
    }

    .product-media-modal__dialog .global-media-settings,
    .product-media-modal__dialog .global-media-settings video,
    .product-media-modal__dialog .global-media-settings model-viewer,
    .product-media-modal__dialog .global-media-settings iframe,
    .product-media-modal__dialog .global-media-settings img {
        border: none;
        border-radius: 0;
    }
}

.product-list-popup-modal__opener {
    display: inline-block;
    text-align: center;
    max-width: 50%;
    width: 100%;
}

@media (max-width: 768px) {
    .product-list-popup-modal__opener {
        padding: 0 4rem;
        max-width: 100%;
        text-align: left;
    }
}

.product-list-popup-modal__button {
    font-size: 1.6rem;
    padding-right: 1.3rem;
    padding-left: 0;
    min-height: 4.4rem;
    text-underline-offset: 0.3rem;
    text-decoration-thickness: 0.1rem;
    transition: text-decoration-thickness var(--duration-short) ease;
}

.product-list-popup-modal__button:hover {
    text-decoration-thickness: 0.2rem;
}

.product-list-popup-modal__content-info {
    padding-right: 2.4rem;
    padding-bottom: 4rem;
    max-width: 1330px;
    margin: auto;
}

@media (max-width: 768px) {
    .product-list-popup-modal__content-info {
        padding-right: 0.5rem;
    }
}

.product-list-popup-modal__content-info > * {
    height: auto;
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
}

@media screen and (max-width: 749px) {
    .product-list-popup-modal__content-info > * {
        max-height: 100%;
    }
}

.product-list-popup-modal__toggle {
    background-color: rgb(var(--color-background));
    border: 0.1rem solid rgba(var(--color-foreground), 0.1);
    border-radius: 50%;
    color: rgba(var(--color-foreground), 0.55);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: sticky;
    padding: 1.2rem;
    z-index: 2;
    top: 0.5rem;
    width: 4rem;
    margin: 0 0 0 auto;
}

.product-list-popup-modal__toggle:hover {
    color: rgba(var(--color-foreground), 0.75);
}

.product-list-popup-modal__toggle .icon {
    height: auto;
    margin: 0;
    width: 2.2rem;
}

.product-list-popup-modal__product {
    display: grid;
    width: 100%;
    grid-template-columns: 1.5fr 2fr;
    font-weight: 700;
}

@media (max-width: 768px) {
    .product-list-popup-modal__product{
        grid-template-columns: 1fr;
    }
}

.product-list-popup-modal__product-media.media>*:not(.zoom):not(.deferred-media__poster-button), .media model-viewer {
    position: relative;
}

.product-list-popup-modal__media-content {
    padding-right: 10px;
}

@media (max-width: 1100px) {
    .product-list-popup-modal__media-content {
       display: none;
    }
}

.product-list-popup-modal__products {
    position: relative;
    padding-left: 10px;
    overflow: auto;
}

.product-list-popup-modal__products--container {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

@media (max-width: 1100px) {
    .product-list-popup-modal__products--container {
        position: relative;
    }
}

.product-list-popup-modal__product {
    border-bottom: var(--blog-card-border-width) solid rgba(var(--color-foreground), 0.2);
    border-width: 2px;
    padding-bottom: 25px;
}

.product-list-popup-modal__products--container .product-list-popup-modal__product:last-child {
    border-width: 0;
    padding-bottom: 0;
}

.product-list-popup-modal__product-text {
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
}

@media (max-width: 768px) {
    .product-list-popup-modal__product-text {
        padding: 10px 0;
    }
}

.product-list-popup-modal__product-text___description {
    font-size: 0.9rem;
    line-height: 130%;
}

.product-list-popup-modal__product-text-price {
    flex-shrink: 0;
}

.product-list-popup-modal__product-form {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-grow: 1;
}

.product-list-popup-modal__product-form > div {
    width: 100%;
    max-width: 190px;
    flex-shrink: 1;
}

.product-list-popup-modal__product-form .product-form__submit {
    min-height: 45px;
    font-size: 1.1rem;
    padding:  0 1.5rem;
}

.product-list-popup-modal__product .select {
    width: max-content;
    box-shadow: none;
}

.product-list-popup-modal__product .select:before,
.product-list-popup-modal__product .select:after {
    box-shadow: none;
}

.product-list-popup-modal__product .select__select {
    width: 70px;
    min-width: initial;
    padding: 0 10px;
    min-height: 43px;
    height: 43px;
    font-weight: 700;
    font-size: 17px;
}

.product-list-popup-modal__product .variant-selects-one-size {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    font-size: 1.4rem;
    line-height: 128%;
}

@media (max-width: 768px) {
    .product-list-popup-modal__product .variant-selects-one-size {
        width: initial;
    }
}